@model Catalog.Models.Profesor
@{
    ViewData["Title"] = "Profesor Page";
}

<h2>Welcome, Profesor!</h2>

<div>
    <a class="btn btn-primary" asp-controller="Profesor" asp-action="Note">Adaugă Note</a>
</div>